# FPLstat quickstart
This quickstart guide will help you get started with the `FPLstat` package for loading and transforming Fantasy Premier League (FPL) data.

## 1. The `FPLstat` client
The main entry point for using the `FPLstat` package is the `FPLstat` class.

In [1]:
from fplstat import FPLStat

In [2]:
fpl = FPLStat()

In [3]:
players = fpl.get_players()
players.head()

,id,web_name,first_name,second_name,photo,element_type,team,team_code,now_cost,selected_by_percent,...,gi,p_90,g_90,a_90,gi_90,bps_90,i_90,c_90,t_90,ict_90
0,1,Raya,David,Raya Martín,154561.jpg,1,1,3,59,32.1,...,0,4.818182,0.000000,0.000000,0.000000,19.090909,14.527273,0.927273,0.000000,1.545455
4,5,Gabriel,Gabriel,dos Santos Magalhães,226597.jpg,2,1,3,65,32.2,...,3,7.363636,0.090909,0.181818,0.272727,25.363636,28.963636,5.690909,8.000000,4.263636
5,6,Saliba,William,Saliba,462424.jpg,2,1,3,60,12.4,...,0,4.848066,0.000000,0.000000,0.000000,22.127072,21.082873,4.238950,1.988950,2.734807
6,7,Calafiori,Riccardo,Calafiori,466075.jpg,2,1,3,58,14.9,...,3,6.413551,0.105140,0.210280,0.315421,22.394860,15.771028,9.389019,19.030374,4.405374
7,8,J.Timber,Jurriën,Timber,445122.jpg,2,1,3,62,28.6,...,4,6.844495,0.204313,0.204313,0.408627,26.254257,24.313280,18.296254,22.065834,6.486947

In [4]:
players.birth_date

0      1995-09-15
4      1997-12-19
5      2001-03-24
6      2002-05-19
7      2001-06-17
          ...
747    2002-04-23
748    2001-09-14
749    1999-04-20
750    2000-11-23
751    2007-09-16
Name: birth_date, Length: 450, dtype: object

In [6]:
fixtures = fpl.get_fixtures()

In [8]:
fixtures