# FPLstat quickstart
This quickstart guide will help you get started with the `FPLstat` package for loading and transforming Fantasy Premier League (FPL) data.

## 1. The `FPLstat` client
The main entry point for using the `FPLstat` package is the `FPLstat` class.

In [1]:
from fplstat import FPLStat

In [2]:
fpl = FPLStat()

In [5]:
players = fpl.get_players()
players.head()

,id,web_name,first_name,second_name,photo,element_type,team,team_code,now_cost,selected_by_percent,...,special,has_temporary_code,region,birth_date,team_join_date,code,opta_code,squad_number,ep_this,ep_next
0,1,Raya,David,Raya Martín,154561.jpg,1,1,3,5.9,32.1,...,False,False,200.0,1995-09-15,2024-07-04,154561,p154561,None,5.3,5.3
1,2,Arrizabalaga,Kepa,Arrizabalaga Revuelta,109745.jpg,1,1,3,4.2,0.4,...,False,False,200.0,1994-10-03,2025-07-01,109745,p109745,None,1.0,1.0
2,3,Hein,Karl,Hein,463748.jpg,1,1,3,4.0,0.3,...,False,False,67.0,2002-04-13,2020-10-28,463748,p463748,None,0.0,0.0
3,4,Setford,Tommy,Setford,551221.jpg,1,1,3,4.0,0.2,...,False,False,241.0,2006-03-13,2024-07-24,551221,p551221,None,1.0,1.0
4,5,Gabriel,Gabriel,dos Santos Magalhães,226597.jpg,2,1,3,6.5,32.5,...,False,False,30.0,1997-12-19,2020-09-01,226597,p226597,None,8.3,0.0

In [6]:
fixtures = fpl.get_fixtures()

In [8]:
fixtures