# FPLstat quickstart
This quickstart guide will help you get started with the `FPLstat` package for loading and transforming Fantasy Premier League (FPL) data.

## 1. The `FPLstat` client
The main entry point for using the `FPLstat` package is the `FPLstat` class.

In [1]:
import pandas as pd
from fplstat import FPLStat

In [2]:
# turn off pandas' max columns display limit
pd.set_option("display.max_columns", None)

In [3]:
fpl = FPLStat()

In [4]:
players = fpl.get_players()
players.head()

,player_id,position_id,team_id,short_name,full_name,price,ownership_pct,games_played,starts,minutes,points,goals_scored,assists,goal_involvements,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,saves,clearances_blocks_interceptions,recoveries,tackles,defensive_contribution,bonus,bps,expected_goals,expected_assists,expected_goal_involvements,expected_goals_conceded,expected_points,starts_per_90,points_per_90,goals_per_90,assists_per_90,goal_involvements_per_90,bonus_per_90,defensive_contribution_per_90,goals_conceded_per_90,saves_per_90,clean_sheets_per_90,expected_points_per_90,expected_goals_per_90,expected_assists_per_90,expected_goal_involvements_per_90,expected_goals_conceded_per_90,influence,creativity,threat,ict_index,points_per_game,form,status,scout_risks,news,news_added,ep_this,ep_next
0,1,1,1,Raya,David Raya Martín,6.0,34.1,15,15,1350,66,0,0,0,8,9,0,0,0,1,0,25,11,118,0,0,3,267,0.00,0.04,0.04,9.65,35.628591,1.00,4.400000,0.000000,0.000000,0.000000,0.200000,0.00,0.60,1.67,0.53,2.375239,0.00,0.00,0.00,0.64,236.6,10.2,0.0,24.7,4.4,2.8,a,[],,NaT,3.8,3.8
4,5,2,1,Gabriel,Gabriel dos Santos Magalhães,6.3,16.3,11,11,990,81,1,2,3,7,5,0,0,0,1,0,0,88,15,12,100,13,279,0.82,0.69,1.51,6.17,57.913365,1.00,7.363636,0.090909,0.181818,0.272727,1.181818,9.09,0.45,0.00,0.64,5.264851,0.07,0.06,0.13,0.56,318.6,62.6,88.0,46.9,7.4,0.2,i,[],Thigh injury - Unknown return date,2025-11-17 12:00:07.436586+00:00,0.0,0.0
5,6,2,1,Saliba,William Saliba,6.0,11.2,11,10,814,41,0,0,0,5,4,0,0,0,0,0,0,51,35,11,62,1,190,0.29,0.24,0.53,4.72,34.535661,1.11,4.533170,0.000000,0.000000,0.000000,0.110565,6.86,0.44,0.00,0.55,3.818439,0.03,0.03,0.06,0.52,185.2,35.6,16.0,23.7,3.7,0.6,d,[],Knock - 75% chance of playing,2025-11-30 22:30:08.957329+00:00,1.2,1.2
6,7,2,1,Calafiori,Riccardo Calafiori,5.8,14.8,15,15,1166,71,1,2,3,8,7,0,0,0,5,0,0,50,54,27,77,4,262,2.49,0.33,2.82,6.97,56.848759,1.16,5.480274,0.077187,0.154374,0.231561,0.308748,5.94,0.54,0.00,0.62,4.387983,0.19,0.03,0.22,0.54,203.8,100.3,219.0,52.2,4.7,2.2,s,[],Suspended until 20 Dec,2025-12-06 20:00:08.845719+00:00,3.2,0.0
7,8,2,1,J.Timber,Jurriën Timber,6.5,35.3,15,13,1197,78,2,3,5,6,9,0,0,0,2,0,0,41,49,40,81,7,282,3.11,0.72,3.83,8.29,65.876004,0.98,5.864662,0.150376,0.225564,0.375940,0.526316,6.09,0.68,0.00,0.45,4.953083,0.23,0.05,0.28,0.62,294.0,199.1,246.0,74.1,5.2,2.4,a,[],,NaT,3.4,3.4

In [5]:
players[["short_name", "points", "expected_points"]].head(20)

      short_name  points  expected_points
0           Raya      66        35.628591
4        Gabriel      81        57.913365
5         Saliba      41        34.535661
6      Calafiori      71        56.848759
7       J.Timber      78        65.876004
9   Lewis-Skelly       8         8.911035
10         White      21        15.367003
14          Saka      64        71.317814
15      Ødegaard      19        26.128581
16       Madueke      16        22.724763
17    Martinelli      21        24.274265
18      Trossard      58        48.351965
19          Rice      84        81.953477
20        Merino      51        51.068396
22      Nørgaard       2         3.867896
23       Nwaneri       8        10.038576
24     Zubimendi      55        55.963468
27       Havertz       1         1.530000
29           Eze      65        58.009755
30      Mosquera      17        21.224253

## 2. Get fixtures data
You can retrieve all fixtures for the season using the `get_fixtures()` method.

In [6]:
fixtures = fpl.get_fixtures()

In [7]:
fixtures

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2561895,1,True,True,1,2025-08-15 19:00:00+00:00,90,False,124791,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,12,3,4.0
1,2561896,1,True,True,2,2025-08-16 11:30:00+00:00,90,False,124792,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,3,0.0
2,2561897,1,True,True,3,2025-08-16 14:00:00+00:00,90,False,124793,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,3,1.0,6,2,1.0
3,2561900,1,True,True,6,2025-08-16 14:00:00+00:00,90,False,124796,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",3,3,0.0,18,2,3.0
4,2561899,1,True,True,5,2025-08-16 14:00:00+00:00,90,False,124795,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",19,3,0.0,17,2,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2562270,38,False,False,376,2026-05-24 15:00:00+00:00,0,False,125166,False,[],2,4,NaN,13,3,NaN
376,2562271,38,False,False,377,2026-05-24 15:00:00+00:00,0,False,125167,False,[],4,3,NaN,16,3,NaN
377,2562273,38,False,False,379,2026-05-24 15:00:00+00:00,0,False,125169,False,[],9,3,NaN,18,2,NaN
378,2562272,38,False,False,378,2026-05-24 15:00:00+00:00,0,False,125168,False,[],7,3,NaN,17,3,NaN
379,2562274,38,False,False,380,2026-05-24 15:00:00+00:00,0,False,125170,False,[],11,2,NaN,19,2,NaN

In [8]:
# View specific columns for upcoming fixtures
fixtures[["event", "team_h", "team_a", "kickoff_time", "finished"]].head(10)

   event  team_h  team_a              kickoff_time  finished
0      1      12       4 2025-08-15 19:00:00+00:00      True
1      1       2      15 2025-08-16 11:30:00+00:00      True
2      1       6      10 2025-08-16 14:00:00+00:00      True
3      1      18       3 2025-08-16 14:00:00+00:00      True
4      1      17      19 2025-08-16 14:00:00+00:00      True
5      1      20      13 2025-08-16 16:30:00+00:00      True
6      1       7       8 2025-08-17 13:00:00+00:00      True
7      1      16       5 2025-08-17 13:00:00+00:00      True
8      1      14       1 2025-08-17 15:30:00+00:00      True
9      1      11       9 2025-08-18 19:00:00+00:00      True